* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.sure-navbar {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: none;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

.nav-container img {
    width: 80px;
    height: 80px;
}

.logo {
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-links {
    display: flex;
    padding: 0;
    margin: 0;
}


.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
    cursor: pointer;
}

/*Interlineado al hacer hover*/

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: linear-gradient(90deg,
            rgba(89, 211, 252, 1) 0%,
            rgba(85, 77, 222, 1) 70%);
    transition: width 0.5s ease;
}

.nav-links a:hover::after {
    width: 80%;
    transform: translateX(-50%);
}

.nav-links a:hover {
    background: linear-gradient(90deg, rgba(89, 211, 252, 1) 0%, rgba(85, 77, 222, 1) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.menu-icon {

    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 18px;
    height: 24px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 15;
}

.menu-icon-bar {
    width: 100%;
    border-radius: 16px;
    height: 4px;
    background: linear-gradient(90deg,
            rgba(89, 211, 252, 1)0%,
            rgba(85, 77, 222, 1)70%);
    margin: 4px 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.menu-icon-bar:first-child {
    transform-origin: top left;
}

.menu-icon-bar:last-child {
    transform-origin: bottom left;
}

.menu-icon.open .menu-icon-bar:nth-child(1) {
    transform: rotate(45deg);
}

.menu-icon.open .menu-icon-bar:nth-child(2) {
    transform: rotate(-45deg);
}

.mobile-menu {
    display: none; /* Oculta el menú por defecto */
    position: fixed;
    top: 79px; /* Asegura que comience debajo de la barra de navegación */
    left: 0;
    width: 100%;
    height: calc(100% - 79px); /* Ocupa el espacio restante */
    background-color: white;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 1.6s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 1.6s ease;
}

.mobile-menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.mobile-menu li {
    margin: 20px 0;
}

.mobile-menu a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}


.mobile-menu a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg,
            rgba(89, 211, 252, 1)0%,
            rgba(85, 77, 222, 1)70%);
    transition: width 0.3s ease, left 0.3s ease;
}

.mobile-menu a:hover::after {
    width: 100%;
    left: 0;
}

.mobile-menu.active {
    display: flex;
    transform: translateY(0);
    opacity: 1;
    
}



@media (max-width: 768px) {

    .nav-container {
        justify-content: space-between;
    }

    .nav-links {
        display: none;
    }

    .menu-icon {
        display: flex;
    }


    
}


.carrusel {
    margin-top: 79px;
}



.d-item {
    height: 570px;
}

.d-img {
    height: 570px;
    object-fit: cover;
    filter: brightness(0.6);
}

@media(max-width:768px) {

    .d-item {
        height: 300px;
    }

    .d-img {
        height: 300px;
        object-fit: cover;
        filter: brightness(0.6);
    }
}

/*contenedor del carrusel*/
.slider-tarjetas {
    /*border: solid 2px red;*/
    height: auto;
    width: 100%;
}

.slider {
    margin-bottom: 30px;
    position: relative;
}

.slider .owl-item.active.center .slider-card {
    transform: scale(1.1);
    opacity: 1;
    background: #ff9966;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #554DDE, #59D3FC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.slider-card {
    background: #fff;
    padding: 0px 0px;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
    max-width: 300px;
    /* Ajusta el ancho máximo de las tarjetas */
}

.slider-card img {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 160px;
    
}

/*tarjetas del carrusel de casas*/
.owl-item{
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: solid 2px green;*/
    height: 600px;
    width: 100%;
}



.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}

.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}

.owl-dots {
    text-align: center;
}

.owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #59D3FC !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
}

.owl-dots .owl-dot.active {
    background: #554DDE !important;
}

/* Estilo para el contenedor principal */


.agenda-section {
   
    height: 600px;
    background-color: rgba(0, 0, 0, 0.822); /* Color de fondo */
    padding: 90px;
    text-align: center;
    color: white;
    position: relative;
}

.body-agent{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px){

    .agenda-section{
        text-align: center;
        height: 800px;
    }
    .body-agent{
        flex-direction: column;
    }

    .title-centro .highlight{
        font-size: 70px;
        font-weight: 700;
        
    }

    .movil-title h2{
        font-size: 2.5rem;
    }

    .header-agent {
        
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
       
    }

    .header-agent .title-footer{
        transform: none;
        font-size: 10px;
    }

    .header-agent .title-centro{
        transform: none;
    }
    .title-centro .highlight{
        font-size: 50px;
    }
    
    .content-container .description{
        font-size: 1.2em;
        margin-top: 10px;
    }
    
    
}

/* Estilo para el texto principal */
.title {
    font-size: 4em;
    margin-bottom: 10px;
}

.header-agent{
    display: flex;
    flex-direction: column;
}

.title-centro{
    display: flex;
    padding: 0;
    margin: 0;
    transform: translateX(20%);
}

.title-footer{
    transform: translateX(8%);
}


.highlight {
    font-size: 100px;
    font-weight: 700;
    background: linear-gradient(90deg, rgba(89, 211, 252, 1) 0%, rgba(85, 77, 222, 1) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: white;
    padding: 0px 15px;
    border-radius: 10px;
}

.title-footer h2{
    display: block;
    font-size: 2em;
    margin-top: 5px;
}

/* Estilo para la imagen circular */
.image-container {
    position: relative;
    display: inline-block;
    margin: 30px 0;
}

.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Estilo para las etiquetas superpuestas */
.label {
    position: absolute;
    background-color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.label span{
    background: linear-gradient(90deg, rgba(89, 211, 252, 1) 0%, rgba(85, 77, 222, 1) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 500;
}

.label.anfitrion1 {
    bottom: 10px;
    left: -5%;
    transform: translateX(-50%);
}

.label.anfitrion2 {
    top: 10px;
    right: -5%;
    transform: translateX(50%);
}

/* Estilo para la descripción */
.description {
    font-size: 1.2em;
    margin-top: 60px;
}



/*footer*/

#footer {
    padding:1px;
    color: #ffffff;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.822);

}

#footer .footer-top {
    padding: 60px 0 30px;
    background: linear-gradient(90deg,
            rgba(89, 211, 252, 0.822)0%,
            rgba(85, 77, 222, 1)70%);
    color: #fff;
}

#footer .footer-top .footer-contact h3 {
    color: white;
}

#footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #b7b7b7;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding-right: 2px;
    color: white;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;

}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul li a {
    color: #ffffffd1;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: white;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: white;
    color: black;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #aaaaaa;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    text-align: center;

}

#footer .credits {
    float: right;
    text-align: center;
}
#footer a {
    text-decoration: none;
}