.casas{
    margin-top: 79px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .swiper-button-prev {
        display: none !important;
    }

    .swiper-button-next {
        display: none !important;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.container-casas {
    max-width: 100%;
    /*
    border: 1px solid #ddd;
    */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-casas a {
    text-decoration: none;
    color: inherit;
}

a .container-casas {
    display: block;
    height: 100%;
    width: 100%;
    transition: transform 0.2s ease-in-out;
}

a .container-casas:hover {
    transform: scale(1.02);
    /* Aumenta un poco el tamaño al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Añade un poco de sombra al hacer hover */
    cursor: pointer;
}

.swiper-wrapper{
    border-radius: 20px !important;
}


.slider-wrapper {
    width: 100%;
    height: 200px;
   
}

.swiper-slide {
    
    border-radius: 20px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.swiper-slide img {
    border-radius: 20px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}

.swiper-slide {
    transition: transform 0.3s ease-in-out;
}

.swiper-pagination-bullet {
    background-color: #ffffff !important;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background-color: #ffffff !important;
    opacity: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: rgba(255, 255, 255, 0.5);
    /* Blanco con 50% de opacidad */
}

.card-content {
    padding: 15px;
    background-color: #fff;
    text-align: center;
}

.house-name {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.house-location,
.house-price {
    font-size: 16px;
    margin-bottom: 10px;
}

/*
.btn-ver-mas {
    background-color: #077bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-ver-mas:hover {
    background-color: #0056b3;
}
*/